*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.loading{
     width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #183D3D;
}
div.loading>h1{
    width: 20%;
    text-transform: uppercase;
    color: #93B1A6;
    text-align: center;
    font-family: fantasy;
    animation: zoomInDown forwards infinite linear 3000ms;

}
.wrapper{
    height: 100vh;
    background-color: #040D12;
    padding: 2%;
}
div.sidebar{
    height: 100%;
    border-radius: 20px;
    border: 1px solid #5C8374;
    overflow: hidden;
    box-shadow: 3px 3px 15px #5C8374, -3px -3px 15px #5C8374;

}
div.sidebar>ul{
    list-style: none;
    width: 100%;
    height: 80%;
    position: relative;
    /* background-color: aliceblue; */
}
div.sidebar>ul>li:nth-of-type(1){
    width:100%;
    height: auto;
    margin: 48px auto ;
    border: none;
    position: relative;
    left: -15px;
    
}
div.sidebar>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    text-decoration: none;
    color: #93B1A6;
    padding: 8px 16px;
    text-align: center;
    position: relative;
    z-index: 0;

}
div.sidebar>ul>li:nth-of-type(2):hover,div.sidebar>ul>li:nth-of-type(3):hover,div.sidebar>ul>li:nth-of-type(4):hover,sidebar>ul>li:nth-of-type(5):hover{
    box-shadow: 1px 1px 5px #5C8374, -1px -1px 5px #5C8374;

}

  div.sidebar>ul>li:nth-of-type(2)>a::before,div.sidebar>ul>li:nth-of-type(3)>a::before,div.sidebar>ul>li:nth-of-type(4)>a::before ,div.sidebar>ul>li:nth-of-type(5)>a::before {
    width: 100%;
    height:100%;
    background:#183D3D;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    
  }
  
  div.sidebar>ul>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;

  }
div.sidebar>ul>li{
    width: 90%;
    height: auto;
    border: 1px solid #5C8374;
    height: auto;
    margin: 48px 0;
    border-radius: 20px;
    overflow: hidden;

}
div.sidebar>div{
    width: 100%;
    height: 20%;

   display: flex;
  justify-content: center;
  align-items: center;
}
div.sidebar>div>div.social{

  width: 40px;
  height: 40px;
  position: relative;
}
div.sidebar>div>div.social>input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
background-color: #040D12;
}

div.sidebar>div>div.social>input::before {
  content: "\f1e0";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #5C8374;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.sidebar>div>div.social>input:checked::before {
  content: "\f00d";
  font-size: 2rem;
}
div.sidebar>div>div.social>input::after {
  content: "";
  position: absolute;
  top: -35%;
  left: -35%;
  width: 120%;
  height: 120%;
  z-index: -10;
  /* border: 10px solid #9733ee;
  box-shadow: 0 0 30px #9733ee4f; */
  border-radius: 50%;
  transform: scale(0.5);
  transition: all 0.4s;
}
div.sidebar>div>div.social>input:checked::after {
  transform: scale(1.5);
  border-radius: 50%;
}
.links {
  position: absolute;
  z-index: -10;
}
div.sidebar>div>div.social>input:checked ~ .links {
  transition: all 300ms linear;
  z-index: 50;
}
.links a {
  position: absolute;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.226); */
  border-radius: 50%;
  cursor: pointer;
  color: #93B1A6;
  transition: all 0.4s;
  transition-delay: calc(var(--i) * 0.1s);
  backdrop-filter: blur(5px);
}
.links a i {
  font-size: 1.5em;
}
div.sidebar>div>div.social> input:checked ~ .links a:nth-child(1) {
  transform: translateX(-100%);
}
div.sidebar>div>div.social> input:checked ~ .links a:nth-child(2) {
  transform: translateX(100%);
}
div.sidebar>div>div.social> input:checked ~ .links a:nth-child(3) {
  transform: translateY(100%);
}
div.content{
    /* border: 1px solid #5C8374; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 15px #5C8374, -3px -3px 15px #5C8374;
}
#homePage{
    width: 100%;
    height: 100%;
    background: url(../img/images.jpeg) center center fixed no-repeat  ;
    background-size: cover;
    overflow: hidden;
}
#homePage>div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #040d12c8;
    padding: 24px 16px;
}
#homePage>div>h1{
    font-family: fantasy;
    text-transform: capitalize;
    color: #93B1A6;
    position: relative;
    top: 10%;
    font-size: 64px;
}
#homePage>div>p{
    position: relative;
    top: 15%;
    background-color: #5c8374c2;
    font-size: 16px;
}
#homePage>div>div.icons{
    top: 30%;
    left: 20px;

}
#homePage>div>div.icons>div{
 background-size:cover;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid  #5C8374;
}
#homePage>div>div.icons>div:nth-of-type(1){
    background: url(../img/js\ copy.jpg) bottom right no-repeat;
    
   
}
#homePage>div>div.icons>div:nth-of-type(2){
    background: url(../img/bootstrap.jpg) center center no-repeat;
    

}
#homePage>div>div.icons>div:nth-of-type(3){
    background: url(../img/react.jpg) center center no-repeat;

}
#homePage>div>div.icons>div:nth-of-type(4){
    background: url(../img/jquery.jpg) center center no-repeat;
}
#homePage>div>div.icons>div:nth-of-type(5){
    background: url(../img/tailwind.jpg) center center no-repeat;
}
#homePage>div>div.icons>div:hover{
     animation: wobble forwards infinite linear 3000ms;
}
#ourProject{
    background-color: #5C8374;
    width: 100%;
    height: 100%;
}
#ourProject>h1{
    font-family: fantasy;
    font-size: 64px;
}
